<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
  <!--  <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>-->
  <script src="../../js/echarts.min.js"> </script>
  <style>
    .data-table td {
      line-height: 70px;
      width: 240px;
      text-align: center;
      border: 1px solid #CCCCCC;
      background-color: aliceblue;
      margin: 0;
    }
  </style>
</head>

<body>
  <div id="order-app">
    <div class="dashboard-container" v-loading="loading" style="display:flex ;flex-wrap: wrap;">
      <div id="myChart" :style="{width: '700px', height: '500px'}"></div>
      <div :style="{width: '700px'}">
        <table class="data-table">
          <tr v-for="item,index in keys">
            <td>{{ name[index] }}</td>
            <td>{{orderData[item]}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div style="padding-top: 10px;padding-bottom: 10px;font-size: 28px;background-color: #ffffff;">
      用户纬度
    </div>
    <div style="width:100%;background-color: #ffffff;padding: 10px; display: flex;">
      <div style="width:30%;border:1px solid #CCCCCC;">
        <el-table :data="orderByUserId" stripe class="tableBox">
          <el-table-column prop="id" label="用户id"></el-table-column>
          <el-table-column prop="name" label="用户名"></el-table-column>
          <el-table-column prop="btn" label="操作">
            <template slot-scope="{ row }">
              <el-button type="text" @click="goDetail(row)" class="blueBug">
                查看
              </el-button>
              <el-divider v-if="row.status === 2" direction="vertical"></el-divider>
              <el-button v-if="row.status === 2" type="text" @click="cancelOrDeliveryOrComplete(3, row.id)"
                class="blueBug">
                派送
              </el-button>
              <el-divider v-if="row.status === 3" direction="vertical"></el-divider>
              <el-button v-if="row.status === 3" type="text" @click="cancelOrDeliveryOrComplete(4, row.id)"
                class="blueBug">
                完成
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div style="width:60%;border:1px solid #CCCCCC; margin-left: 20px;">
        <div id="myChartUser" style="width: 600px; height: 400px;background-color: #CCCCCC"></div>
        <el-table :data="userData.ordersInWeek" stripe class="tableBox">
          <el-table-column prop="consignee" label="名字"></el-table-column>
          <el-table-column prop="evaStutas" label="好评">
            <template slot-scope="{ row }">
              <span>{{ getType(row) }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="evaluate" label="评价"></el-table-column>
          <el-table-column prop="status" label="订单状态">
            <template slot-scope="{ row }">
              <span>{{ getOrderType(row) }}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>

  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="../../plugins/vue/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="../../plugins/element-ui/index.js"></script>
  <!-- 引入axios -->
  <script src="../../plugins/axios/axios.min.js"></script>
  <script src="../../js/request.js"></script>
  <script src="../../api/order.js"></script>
  <script>
    new Vue({
      el: '#order-app',
      data() {
        return {
          orderData: {
            totalMoney: 2074,
            averagePriceInWeek: 188.54545454545453,
            orderConvertRate: 84,
            ordersInWeekNum: 11,
            ordersPeopleNum: 11,
            replyOrderRate: 91,
            shopConvertRate: 82,
            shopScore: 49.5,
          },
          keys: [
            'totalMoney',
            'replyOrderRate',
            'ordersInWeekNum',
            'averagePriceInWeek',
            'ordersPeopleNum',
            'orderConvertRate',
            'shopConvertRate',
            'shopScore',
          ],
          name: [
            '7天实际收入(元)',
            '复购率(%)',
            '订单数(单)',
            '用户每单实付（元）',
            '曝光人数（人）',
            '下单转化率（%）',
            '进店转化率（%）',
            '评分（分）',
          ],
          userData: {},
          orderByUserId: [],
          orderBymoneySort: [],
          list: [],
          series: [
            {
              type: 'radar',
              radarIndex: 0,
              data: [
                {
                  value: [100, 93, 50, 90, 70, 60, 80, 4.9],
                  name: '店铺数据',
                  label: {
                    show: true,
                    formatter: function (params) {
                      return params.value;
                    }
                  },
                  areaStyle: {
                    color: new echarts.graphic.RadialGradient(0.1, 0.6, 1, [
                      {
                        color: 'rgba(201, 191, 38, 0.5)',
                        offset: 0
                      },
                      {
                        color: 'rgba(255, 145, 124, 0.9)',
                        offset: 1
                      }
                    ])
                  }
                }
              ]
            }
          ],
          seriesUser: [
            {
              type: 'radar',
              radarIndex: 0,
              data: [
                {
                  value: [100, 50, 0, 0, 0, 0, 0, 0],
                  name: '用户数据',
                  label: {
                    show: true,
                    formatter: function (params) {
                      return params.value;
                    }
                  },
                  areaStyle: {
                    color: new echarts.graphic.RadialGradient(0.1, 0.6, 1, [
                      {
                        color: 'rgba(201, 191, 38, 0.5)',
                        offset: 0
                      },
                      {
                        color: 'rgba(255, 145, 124, 0.9)',
                        offset: 1
                      }
                    ])
                  }
                }
              ]
            }
          ]
        }
      },
      computed: {},

      created() {
      },
      mounted() {
        // this.loading = false
        this.init()
        // this.drawLine();
      },
      methods: {
        getOrderType(row){
          let str = ''
          switch (row.status) {
            case 1:
              str = '待付款'
              break;
            case 2:
              str = '正在派送'
              break;
            case 3:
              str = '已派送'
              break;
            case 4:
              str = '已完成'
              break;
            case 5:
              str = '已取消'
              break;

          }
          return str
        },
        getType(row) {
          let str = ''
          switch (row.evaStutas) {
            case 1:
              str = '好评'
              break;
            case 2:
              str = '中评'
              break;
            case 3:
              str = '差评'
              break;
           

          }
          return str
        },

        // 获取用户数据
        async goDetail(row) {
          const res = await analysisOrderByCustomerApi({
            id: row.id
          })
          console.log(res);
          this.userData = res.data
          this.seriesUser[0].data[0].value[0] = this.userData.averagePriceInWeek
          this.seriesUser[0].data[0].value[1] = this.userData.costAbilityScore
          this.drawLineUser()
        },
        async init() {
          const res = await analysisOrder()
          console.log(res);
          this.orderByUserId = res.data.orderByUserId
          this.goDetail(this.orderByUserId[0].id)
          // console.log(this.orderBymoneySort);
          for (let item in this.keys) {
            if (typeof (res.data[this.keys[item]]) === "string") {
              let num = Number.parseInt(res.data[this.keys[item]].split("%")[0])
              this.list.push(num)

            } else {
              this.list.push(res.data[this.keys[item]])

            }

          }
          this.series[0].data[0].value = this.list
          console.log(this.series[0].data[0].value);
          this.drawLine();
        },

        drawLine() {
          // 基于刚刚准备好的 DOM 容器，初始化 EChart 实例
          let myChart = echarts.init(document.getElementById('myChart'))
          // 绘制图表
          myChart.setOption({
            color: ['#c9bf26'],
            title: {
              text: '店铺分析'
            },
            legend: {},
            radar: [
              {
                indicator: [
                  { text: '7天实际收入(元)', max: 5000 },
                  { text: '复购率(%)', max: 200 },
                  { text: '订单数(单)', max: 150 },
                  { text: '用户每单实付（元）', max: 1000 },
                  { text: '曝光人数（人）', max: 100 },
                  { text: '下单转化率（%）', max: 100 },
                  { text: '进店转化率（%）', max: 100 },
                  { text: '评分（分）', max: 100 }
                ],
                // center: ['25%', '50%'],
                center: ['50%', '50%'],
                radius: 120,
                axisName: {
                  color: '#fff',
                  backgroundColor: '#666',
                  borderRadius: 3,
                  padding: [3, 5]
                }
              }
            ],
            series: this.series
          });
        },
        drawLineUser() {
          // 基于刚刚准备好的 DOM 容器，初始化 EChart 实例
          let myChart = echarts.init(document.getElementById('myChartUser'))
          // 绘制图表
          myChart.setOption({
            color: ['#3bedde'],
            title: {
              text: '用户分析'
            },
            legend: {},
            radar: [
              {
                indicator: [
                  { text: '本周消费', max: 1000 },
                  { text: '消费能力', max: 500 },
                  { text: '', max: 150 },
                  { text: '', max: 250 },
                  { text: '', max: 100 },
                  { text: '', max: 100 },
                  { text: '', max: 100 },
                  { text: '', max: 50 }
                ],
                // center: ['25%', '50%'],
                center: ['50%', '50%'],
                radius: 120,
                axisName: {
                  color: '#fff',
                  backgroundColor: '#666',
                  borderRadius: 3,
                  padding: [3, 5]
                }
              }
            ],
            series: this.seriesUser
          });
        }
      }
    })
  </script>
</body>

</html>
